doctype html
html(lang='en')
  include common/head.pug
  +head("Starter MVP")
  body
    header
      include common/navbar.pug
      +navbar(user)
    //  Custom styles for this template 
    link(href='/stylesheets/pricing.css', rel='stylesheet')
  body(cz-shortcut-listen='true')
    .pricing-header.px-3.py-3.pt-md-5.pb-md-4.mx-auto.text-center
      h1.display-4 Pricing
      p.lead Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.
      .container
        .row.justify-content-md-center
          .col-md-8
            if plans.length > 0
              ul.nav.nav-pills.nav-justified
                if plans[0].billing_period == "monthly"
                  li.nav-item
                      a(href="/pricing").nav-link.active Monthly
                  li.nav-item
                    a(href="/pricing-yearly").nav-link Yearly
                else
                  li.nav-item
                    a(href="/pricing").nav-link Monthly
                  li.nav-item
                    a(href="/pricing-yearly").nav-link.active Yearly
            else
              h4 No subscription plans available at this time.
    .container
      form(action="/pick-plan", method="POST")
        .card-deck.mb-3.text-center
          for plan in plans
            .card.mb-4.shadow-sm
              .card-header
                h4.my-0.font-weight-normal #{plan.name}
              .card-body.d-flex.flex-column
                h1.card-title.pricing-card-title
                  | $ #{plan.price_per_period}
                  - let period = plan.billing_period.slice(0,-2)
                  small.text-muted / #{period}
                ul.list-unstyled.mt-3.mb-4
                  if (plan.feature1)
                    li #{plan.feature1}
                  if (plan.feature2)
                    li #{plan.feature2}
                  if (plan.feature3)
                    li #{plan.feature3}
                  if (plan.feature4)
                    li #{plan.feature4}
                  if (plan.feature5)
                    li #{plan.feature5}
                  if (plan.feature6)
                    li #{plan.feature6}
                  if (plan.feature7)
                    li #{plan.feature7}
                  if (plan.feature8)
                    li #{plan.feature8}
                  if (plan.feature9)
                    li #{plan.feature9}
                  if (plan.feature10)
                    li #{plan.feature10}
                button(name="planId", value=plan.id).btn.btn.btn-block.btn-outline-primary.mt-auto #{plan.cta}
      footer.pt-4.my-md-5.pt-md-5.border-top
        .row
          .col-12.col-md
            img.mb-2(src='./pricing_files/bootstrap-solid.svg', alt, width='24', height='24')
            small.d-block.mb-3.text-muted © 2017-2019
          .col-6.col-md
            h5 Features
            ul.list-unstyled.text-small
              li
                a.text-muted(href='https://getbootstrap.com/docs/4.3/examples/pricing/#') Cool stuff
              li
                a.text-muted(href='https://getbootstrap.com/docs/4.3/examples/pricing/#') Random feature
              li
                a.text-muted(href='https://getbootstrap.com/docs/4.3/examples/pricing/#') Team feature
              li
                a.text-muted(href='https://getbootstrap.com/docs/4.3/examples/pricing/#') Stuff for developers
              li
                a.text-muted(href='https://getbootstrap.com/docs/4.3/examples/pricing/#') Another one
              li
                a.text-muted(href='https://getbootstrap.com/docs/4.3/examples/pricing/#') Last time
          .col-6.col-md
            h5 Resources
            ul.list-unstyled.text-small
              li
                a.text-muted(href='https://getbootstrap.com/docs/4.3/examples/pricing/#') Resource
              li
                a.text-muted(href='https://getbootstrap.com/docs/4.3/examples/pricing/#') Resource name
              li
                a.text-muted(href='https://getbootstrap.com/docs/4.3/examples/pricing/#') Another resource
              li
                a.text-muted(href='https://getbootstrap.com/docs/4.3/examples/pricing/#') Final resource
          .col-6.col-md
            h5 About
            ul.list-unstyled.text-small
              li
                a.text-muted(href='https://getbootstrap.com/docs/4.3/examples/pricing/#') Team
              li
                a.text-muted(href='https://getbootstrap.com/docs/4.3/examples/pricing/#') Locations
              li
                a.text-muted(href='https://getbootstrap.com/docs/4.3/examples/pricing/#') Privacy
              li
                a.text-muted(href='https://getbootstrap.com/docs/4.3/examples/pricing/#') Terms
    include common/footer.pug
    +footer()