include ../common/head.pug
+head(title)
body
  header
    include ../common/navbar.pug
    +navbar(user)
  //  Custom styles for this template 
  link(href='/stylesheets/simple-sidebar.css', rel='stylesheet')
  .d-flex#wrapper
    //  Sidebar 
    .bg-light.border-right#sidebar-wrapper
      .sidebar-heading Dashboard
      .list-group.list-group-flush
        for item in panel
          a.list-group-item.list-group-item-action.bg-light(href=item.link) #{item.name}
    //  /#sidebar-wrapper 
    //  Page Content 
    #page-content-wrapper
      .container
        .row
          .col-md-8
            h1 Plans
            table.table
              thead
                tr
                  th(scope="col") Name
                  th(scope="col") Actions
                  th(scope="col")
                tr
              tbody                
                for plan in plans
                  tr(id=plan.id)
                    td
                      span #{plan.name}
                    td
                      a(href="/plan/" + plan.id) Details
                    td 
                      button(onclick=`deletePlan('${plan.id}')`).btn.btn-primary Delete
            a(href="/plan/new").btn.btn-primary.d-flex.justify-content-center.align-content
              i.material-icons add
              span Create New Plan
  include ../common/footer.pug
  +footer()
  script(src='/javascripts/plans.js')